<br>
<div class="user" style="text-align: center;">
    <h1>List of Restaurants</h1>
    <!-- <div>
      <button class="test" (click)="showList()">get Data</button>
    </div> -->
</div>

<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Onwer</th>
        <th scope="col">Address</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>    
    <tbody>
      <tr *ngFor="let list of collection">
         
        <th>{{list.id}}</th>
        <th>{{list.name}}</th>
        <th>{{list.owner}}</th>
        <th>{{list.address}}</th>
        <th><i (click)="deleteRestro(list.id)" class="fa fa-trash" style="font-size:30px;color:red;"></i>
        <a routerLink="/update/{{list.id}}"><i class="fa fa-edit" style="font-size:30px;color:blue;"></i></a></th>
      </tr>
    </tbody>
  </table>
  <div>
   <button><a routerLink="/add">Add New List</a></button>
  </div>
